/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #00800f;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.header a {
    color: #f2f2f2;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
}

.logo img {
    width: 100px; /* Ajustemos el tamaño del logo según sea necesario */
    text-decoration: none; /* FG - Para mantener mismo estilo del header en el 'alt' del logo (si falta la imagen).*/
    color: #fff; /*FG - Idem text-decoration*/
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    size: 50%;
}

.texto-encima{
    position: relative;
    top: 10px;
    left: 10px;
    color: #D97014;
    text-align: left;
}

.form-location-section {
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

.form-section {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos horizontalmente */
}

input[type="submit"] {
    margin-top: 10px; /* Agregar un poco de espacio sobre el botón */
    text-align: center; /* Centrar horizontalmente el botón */
}

.submit-button-container {
    text-align: center; /* Centra el contenido horizontalmente */
}

.location {
    width: 70%; /* O ajusta este valor según lo necesites */
    margin-left: 5%;
}

.location iframe {
    width: 100%; /* Hacer que los iframes de los mapas ocupen todo el ancho del contenedor */
    height: 200px; /* Ajustar la altura de los mapas según lo necesites */
}

label {
    background-color: #F2F2F2;
    display: block;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 3px;
}

.checkbox-container {
    display: inline-block;
    vertical-align: top;
}

/*texto del formulario*/
.text-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
#ubicacion,
#area,
#mensaje {
    width: calc(100% - 15px);
    padding: 5px;
    margin-bottom: 5px;
    background-color: #D97014;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
#ubicacion:focus,
#area:focus,
#mensaje:focus {
    background-color: #D8F2DC;
    color: black;
}

input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
input[type="tel"]:not(:placeholder-shown),
textarea:not(:placeholder-shown),
select:not(:placeholder-shown),
#ubicacion:not(:placeholder-shown),
#area:not(:placeholder-shown),
#mensaje:not(:placeholder-shown) {
    background-color: #D8F2DC;
    color: black;
}

::placeholder,
#nombre::placeholder,
#email::placeholder,
#direccion::placeholder,
#telefono::placeholder,
#area::placeholder,
#mensaje::placeholder {
    color: white;
}

#mensaje {
    height: 90px;
}

.info-privacidad {
    font-size: 7pt;
}

.locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations {
    flex: 1;
}

.locations {
    margin-top: 10px;
}

.location {
    margin-bottom: 20px;
}

.footer {
    background-color: #00800f;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapa-sitio ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Establece la visualización como flexbox */
}

.mapa-sitio ul li {
    margin-right: 20px; /* Ajusta el espaciado entre elementos */
}

.mapa-sitio ul li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento */
}

.mapa-sitio ul li a {
    text-decoration: none;
    color: #fff;
}

.mapa-sitio ul li a:hover {
    text-decoration: underline;
}

#redes {
    display: flex;
    justify-content: space-around;
}